.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  display: flex;
  margin-top: -5vh;
  height: 40vmin;
  /* pointer-events: none; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin-bottom: 10vh;
}

.winner,
.data-table {
  margin-top: 25px;
}

.winner-image {
  height: 25%;
  width: 25%;
}

.person-name {
  display: flex;
}

.person-score {
  padding-left: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
